{{ define "main" }}
<div id="map" style="height: 80vh;"></div>

<!-- 引入 Leaflet.js 库 -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<style>
  /* 自定义照片标记样式 */
  .leaflet-photo-icon {
    background: transparent;
    border: none;
  }
  .leaflet-photo-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
  }
  .leaflet-photo-icon img:hover {
    transform: scale(1.1);
  }
  .leaflet-popup-content-wrapper {
    border-radius: 8px;
  }
  .leaflet-popup-content {
    margin: 10px;
    text-align: center;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var map = L.map('map').setView([35, 105], 4); // 默认中心点设为中国

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var photos = [
      {{ range .Site.Pages }}
        {{ range .Resources.ByType "image" }}
            {{ if and .Exif .Exif.Lat .Exif.Long }}
              {
                "lat": {{ .Exif.Lat }},
                "lon": {{ .Exif.Long }},
                "src": "{{ printf "%s%s" site.Params.cos_base_url .RelPermalink }}",
                "thumbnail": "{{ printf "%s%s%s" site.Params.cos_base_url .RelPermalink "?imageMogr2/thumbnail/300x300"}}",
                "pop_thumbnail": "{{ printf "%s%s%s" site.Params.cos_base_url .RelPermalink "?imageMogr2/thumbnail/80x80"}}",
                "caption": "{{ with $.Title }}{{ . }}{{ else }}{{ $.Name }}{{ end }}"
              },
            {{ end }}
        {{ end }}
      {{ end }}
    ];

    photos.forEach(function(photo) {
              // 使用 L.divIcon 创建基于 HTML 的自定义图标
      var photoIcon = L.divIcon({
        html: '<img src="' + photo.thumbnail + '" alt="' + photo.caption + '">',
        className: 'leaflet-photo-icon', // 应用自定义 CSS
        iconSize: [50, 50],       // 图标尺寸
        iconAnchor: [25, 50]      // 图标锚点（底部中心）
      });
      var marker = L.marker([photo.lat, photo.lon],{icon:photoIcon}).addTo(map);
      marker.bindPopup('<a href="' + photo.src + '" data-pswp-src="' + photo.src + '"><img src="' + photo.thumbnail + '" alt="' + photo.caption + '" style="width:100px;"/></a>');
    });
  });
</script>
{{ end }}